:root {
    /* common colors */
    --shadow-color: #000000;
    --rand-pass-bg: #273549;
    --rand-pass-txt-color: #5DEF92;
    --green: #10B981;
}

[data-theme="light"] {
    --container-color-bg: #ECFDF5;
    --h1-color: #000000;
    --hook-color: #6B7280;
    --dark-light-toggle-color-bg: #273549;
    --dark-light-toggle-color-txt: #FFFFFF;
    --border-color: #D9D9D9;
    --toggle-hover-color: #000000;
    --password-copy-message: #000000;
}

[data-theme="dark"] {
    --container-color-bg: #1F2937;
    --h1-color: #FFFFFF;
    --hook-color: #D5D4D8;
    --dark-light-toggle-color-bg: #ECFDF5;
    --dark-light-toggle-color-txt: #000000;
    --border-color: #2F3E53;
    --toggle-hover-color: #6ab1eb;
    --password-copy-message: #5DEF92;
}

body {
    font-family: "Karla", sans-serif;
    background: #000000;
}

.container {
    width: 550px;
    height: 550px;
    margin: 100px auto;
    /* border-radius: 6px; */
    background: var(--container-color-bg);
    padding: 100px 60px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.dark-light-toggle {
    background: var(--dark-light-toggle-color-bg);
    color: var(--dark-light-toggle-color-txt);
    border-radius: 30px;
    width: 90px;
    height: 45px;
}

.dark-light-toggle:hover {
    box-shadow: 0 0 10px var(--toggle-hover-color);
    transform: scale(1.03);
    transition: 0.3s ease;
}

h1 {
    color: var(--h1-color);
    font-weight: 800;
    margin-bottom: 5px;
}

span {
    color: var(--green);
}

p {
    color: var(--hook-color);
    margin-top: 0;
    margin-bottom: 40px;
}

button {
    padding: 9px 17px 9px 15px;
    background: var(--green);
    color: white;
    font-family: "Karla", sans-serif;
    border: none;
    border-radius: 6px;
    box-shadow: 0 1 2 0 var(--shadow-color);
    margin: 30px 0;
    font-weight: 500;
    cursor: pointer;
}

.passwords {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-top: 30px;
    border-top: 1px solid var(--border-color);
}

.pass-place {
    width: 265px;
    height: 39px;
    background: var(--rand-pass-bg);
    border-radius: 6px;
    color: var(--rand-pass-txt-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#text-copied-message {
    width: 265px;
    height: 39px;
    border-radius: 6px;
    color: var(--password-copy-message);
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    transition: 0.3 ease;
}